* {
    /* box-sizing: border-box; */
    

}

header {
    color: rgb(255, 56, 53);
    font-size: 10vmin;
    font-weight: bolder;
    letter-spacing: -1.5vmin;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1 {
    color: whitesmoke;
    font-size: 4vmin;
    margin-top: -1vmin;
    font-family: 'Courier New', Courier, monospace 
}

button {
    color: black; 
    font-weight: bold;
    background-color: lightgreen;
    height: 4vmin;
}

#resetBtn {
    background-color: rgb(255, 110, 110);
}

body {
    
    margin: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    background-image: linear-gradient(black, rgb(65, 65, 65));
}

#board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1vmin solid grey;
    border-radius: 2%;
    background-image: linear-gradient(rgb(46, 46, 46), rgb(15, 15, 15));
    /* border-top: -3vmin; */ 
}

.input-container {
    display: flex;

}

.input-container > div {
    border-radius: 50%;
    border: 0.5vmin solid lightgray;
    height: 20px;
    width: 20px;
    margin: 8px; 
}

.response {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.response > div {
    height: 7px;
    width: 7px;
    margin: 2px; 
    border: 2px solid lightgray;
}

#compRow {
    display: grid;
    grid-template-columns: repeat(4, 10vmin);
    grid-template-rows: repeat(1, 10vmin);
    gap: 1vmin; 
    border: 1vmin solid grey; 
    border-radius: 8%;
    background-image: linear-gradient(rgb(53, 53, 53), rgb(23, 23, 23));
}

#compRow > div {
    border-radius: 50%;
    border: 0.5vmin solid rgb(255, 110, 110);
    margin: 20px;
}

#choices {
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 260px;
    border: 1vmin solid grey; 
    border-radius: 7%;
    background-image: linear-gradient(rgb(45, 45, 45), rgb(18, 18, 18));
}

#choices > div {
    width: 15px;
    width: 15px;
    margin: 10px;
    border: 2px solid antiquewhite;
    border-radius: 50%;
}

#colors {
    display: grid;
    grid-template-columns: repeat(6, 10vmin);
    grid-template-rows: repeat(1, 10vmin);
    gap: 1vmin; 
}

#colors > div {
    border-radius: 50%;
    border: 0.5vmin solid white;
    margin: 20px;
}

h2 {
    color: whitesmoke;
    font-family: sans-serif;
}

#blue {
    background-color: blue;
}
#green {
    background-color: green;
}
#yellow {
    background-color: yellow;
}
#red {
    background-color: red;
}
#purple {
    background-color: purple;
}
#orange {
    background-color: orange;
}