* {
    color: black;

}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 10vmin);
    grid-template-rows: repeat(10, 10vmin);
    gap: 1vmin; 
    /* border-top: -3vmin; */ 
}

#board > div {
    border-radius: 50%;
    border: 0.1vmin solid grey;
}

#compRow {
    display: grid;
    grid-template-columns: repeat(4, 10vmin);
    grid-template-rows: repeat(1, 10vmin);
    gap: 1vmin; 
}

#compRow > div {
    border-radius: 50%;
    border: 0.1vmin solid red;

}